*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {

    font-family: montserrat;
    background-color: #ffffff;
}

nav {

    background:#097c47;
    height: 80px;
    width: 100%;
}

label.logo{
    
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}

a.active, a:hover{
    background: #025e33;
    transition: .5s;
}

h1 {

    padding: 50px;
    text-align: left;
    text-decoration:wavy;
    margin-left: 20;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


@media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;

    }
}

@media (max-width: 858px){

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100vh;
        background: #097c47;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #000000;

    }
    #check:checked ~ ul{
        left: 0;
    }
}







div {
    position: relative;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    position: absolute;
    top: 50%;  /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the text */
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 5em;
    z-index: 1;
}
